@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-body: #b6cbce;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --color-heading: #eef3db;
  --sidebar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1,
h2 h3 h4 h5 h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}

.profilepic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.black-and-white {
  filter: grayscale(100%);
}

.navbar .nav-link {
  color: var(--color-base);
  font-weight: 800;
  text-transform: uppercase;
}
.nav-link:hover {
  transform: scale(1.1);
  color: var(--color-brand2);
}

.navbar {
  background-color: var(--color-base);
  margin-top: 0px;
}

.full-height {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: var(--color-brand) solid 2px; */
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--color-brand);
  color: var(--color-base);
}

.text-brand {
  color: var(--color-brand);
}

.bg-base {
  background-color: var(--color-base);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -8px 8px 8px var(--color-brand);
}

.row {
  display: flex;
}

/* setting the navigation bar window size more than 99px */

@media (min-width: 922px) {
  .navbar {
    margin-left: 0px;
    height: 100vh;
    width: 255px;
    background: linear-gradient(rgba(3, 63, 71, 0.7), rgba(3, 63, 71, 0.8)),
      url(../images/sidebar\ bg.jpg);
    background-size: cover;
    background-position: center;
  }

  .navbar-brand img {
    border: 7px solid var(--color-brand);
  }

  .content-wrapper {
    padding-left: var(--sidebar-width);
  }
}

.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);
}

.custom-link {
  font-weight: 700;
  position: relative;
}

.custom-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.custom-link:hover::after {
  width: 100%;
}
